{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}

<div class="container my-5 px-5">
    <div class="card mb-3" style="max-width: 1200px;" style="max-height: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/static/Mayur.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title mb-5" style="line-height: 30px; font-weight:bold;">Mayur Vitthal Korhale</h3>
               <p class="card-text" style="line-height: 30px; font-weight:600;">I am Mr. Mayur Vitthal Korhale, Currently Pursing BE in Electronic and Telecommunication from Pune University, I have completed my 10th from Mary Memorial School, Patas and 12th from Tuljaram Chaturchand College, Baramati.
                I have keen intrest in Python and Do Project on Django and and Developing Mini Game's. 
                Hobbies :- My Hobbies are Playing Cricket and Treking the Forts and Hills with Friends. 
                Strength :- I like to update my self with new version.
              </p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body %}