{% extends "base.html" %}

{% block title %} Project{% endblock title %}

{% block projectactive %}active{% endblock projectactive %}

{% block body %}

<div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/8.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Welcome to My Portfolio</h5>
              <p>See all the project's on GitHub and Download the project you like.</p>
            </div>
          </div>
</div>

<div class="container my-0">
    <h2 class="cardtitle text-center my-3">Django Project's</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/Icecream.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mayur IceCream's Web API's</h5>
            <p class="card-text">This is Web API named as Mayur IceCream Portal You can order Select the IceCream and Order It.
            </p>
            <a href="https://github.com/Mayur2282/MayurIcecream" target="_blank" class="btn btn-success">See Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/Hospital.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hospital Management System</h5>
            <p class="card-text">This is Web API Named as Hospital Management, It help in Hospital to Manage the Data of Hospital.
            </p>
            <a href="https://github.com/Mayur2282/Pharmacy-Management-System" target="_blank" class="btn btn-primary">See Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/Portfolio.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MyPortfolio Web API</h5>
            <p class="card-text">This is Web API Named as Portfolio, This tell about my info and Project and you can contact me.
            </p>
            <a href="https://github.com/Mayur2282/Portfolio.github.io" class="btn btn-danger">See Project</a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container my-0">
    <h2 class="cardtitle text-center my-3">Game's Development</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/flappy bird.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Floppy Bird Game</h5>
            <p class="card-text">It is a Floppy Bird Game Development by me using Python and you can play the game uploaded on GitHub.
            </p>
            <a href="https://github.com/Mayur2282/Flappy-Bird-Game.github.io" target="_blank" class="btn btn-success">Play Game</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/Car.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Car Racing</h5>
            <p class="card-text">It is a Car Racing Game Development by me using Python and you can play the game uploaded on GitHub.
            </p>
            <a href="https://github.com/Mayur2282/Car-Game" target="_blank" class="btn btn-primary">Play Game</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/Snake.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Snake Game</h5>
            <p class="card-text">It is a Snake Game Development by me using Python and you can play the game uploaded on GitHub.
            </p>
            <a href="https://github.com/Mayur2282/Snake-Game-using-PYthon" target="_blank" class="btn btn-danger">Play Game</a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container my-0">
    <h2 class="cardtitle text-center my-3 ">College Project's</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/Jarvis.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jarvis AI Assistance Using Python</h5>
            <p class="card-text">It is a Virtual Assistance Named as Jarvis, It listen the command and obey the order given by User.
            </p>
            <a href="https://github.com/Mayur2282/AI-Assistance-Using-Python" target="_blank" class="btn btn-success">Test Jarvis</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/Resume.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Resume Parsing</h5>
            <p class="card-text">It is use to Parse the Resume and Select the Candidate according to the company requirement.
            </p>
            <a href="https://github.com/Mayur2282/Resume.github.io" target="_blank" class="btn btn-primary">Parse Resume</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/static/Coding.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Game Development</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-danger">See Project</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock body %}